{% extends "layout.html" %}
{% block content1 %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Sport</th>
      <th scope="col">Line Type</th>
      <th scope="col">Team</th>
      <th scope="col">Line</th>
    </thead>
  {% for user in users %}
  <tr>
    <td>
      {{user.firstname}}
    </td>
    <td>
      {% for pick in todayspicks if pick.user_id == user.id: %}
        <div>{{pick.sport}}</div>
      {%endfor%}
    </td>
    <td>
      {% for pick in todayspicks if pick.user_id == user.id: %}
        <div>{{pick.linetype}}</div>
      {%endfor%}
    </td>
    <td>
      {% for pick in todayspicks if pick.user_id == user.id: %}
        <div>{{pick.team}}</div>
      {%endfor%}
    </td>
    <td>
      {% for pick in todayspicks if pick.user_id == user.id: %}
        <div>
          {%if pick.line !=0:%}
            {{pick.line}}
          {%else:%}
          <br>
          {%endif%}
        </div>
      {%endfor%}
    </td>
  </tr>
  {% endfor %}
  </table>
</div>

{% endblock content1 %}
