{% extends "layout.html" %}
{% block content1  %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<h2 class="display-4 mb-4">{{current_user.firstname}}'s Picks</h2>
<button type="button" id="add" class="btn btn-primary">Add Parlay Leg</button>

<form id="pick-form" action="" method="POST" role = "form">
  {{ form.hidden_tag() }}


  <div id="subforms-container">
    {% for subform in form.picks %}
      <div id="pick-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
        {{ subform.sport }}
        {{ subform.team }}
        {{ subform.linetype }}
        {{ subform.line }}
      </div>
      {% endfor %}
  </div>
</form>

{# Form template #}
<div id="pick-_-form" class="is-hidden" data-index="_">
    <select id="picks-_-sport" name="picks-_-sport">
      <option value="MLB">MLB</option>
      <option value="NBA">NBA</option>
      <option value="NCAAB">NCAAB</option>
      <option value="NCAAF">NCAAF</option>
      <option value="NFL">NFL</option>
      <option value="NHL">NHL</option>
    </select>

    <select id="picks-_-team" name="picks-_-team">
    </select>

    <select id="picks-_-linetype" name="picks-_-linetype">
      <option value="Spread">Spread</option>
      <option value="MoneyLine">MoneyLine</option>
      <option selected="" value="Over/Under">Over/Under</option>
      <option value="Prop">Prop</option>
    </select>

    <input id="picks-_-line" name="picks-_-line" required="" type="text">

    <button type="button" class="btn btn-danger remove">Delete Leg</button>
</div>

<button type="submit" class="btn btn-primary">Submit Pick</button>
<script type="text/javascript" src="{{ url_for('static', filename='updatelist.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='formhandling.js') }}"></script>
{% endblock content1 %}




{% block content2 %}

<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">Sport</th>
      <th scope="col">Line Type</th>
      <th scope="col">Team</th>
      <th scope="col">Line</th>
    </thead>
      {% set skip_list = [] %}
      {% for pick in picks %}
        {# If we have already seen this pick from another member of the parlay, don't print it #}
        {% if pick.id in skip_list %}
        {# Do nothing #}
        {% else %}
          {# If it's not a parlayed pick print it normally #}
          {% if pick.parlay_id == None %}
            <tr>
              <td>{{pick.sport}}</td>
              <td>{{pick.linetype}}</td>
              <td>{{pick.team}}</td>
              <td>{{pick.line}}</td>
            </tr>
          {# Else, print out the paylayed pick and add the other members to the skip_list #}
          {% else %}
          <tr>
            <td>
              {% for parpick in pick.parlayobj.picks %}
                <div>{{parpick.sport}}</div>
                {% do skip_list.append(parpick.id) %}
              {% endfor %}
            </td>
            <td>
              {% for parpick in pick.parlayobj.picks %}
                <div>{{parpick.linetype}}</div>
              {% endfor %}
            </td>
            <td>
              {% for parpick in pick.parlayobj.picks %}
                <div>{{parpick.team}}</div>
              {% endfor %}
            </td>
            <td>
              {% for parpick in pick.parlayobj.picks %}
                <div>{{parpick.line}}</div>
              {% endfor %}
            </td>
          </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
  </table>
</div>

{% endblock content2 %}
