{% extends "layout.html" %}
{% block content1  %}
<h2 class="display-4 mb-4">{{current_user.firstname}}'s Picks</h2>
<form class="form-inline">
  <select id="leagues" class="form-control">
    <option value="" disabled selected>Pick a league</option>
    <option value="mlb">MLB</option>
    <option value="nba">NBA</option>
    <option value="ncaab">NCAAB</option>
    <option value="ncaaf">NCAAF</option>
    <option value="nfl">NFL</option>
    <option value="nhl">NHL</option>
  </select>

  <select id="teams" class="form-control">
    <option value="" disabled selected>Pick a league first</option>

  </select>
</form>
{% endblock content1 %}




{% block content2 %}

<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col">Sport</th>
      <th scope="col">Line Type</th>
      <th scope="col">Team</th>
      <th scope="col">Line</th>
    </thead>
      {% set skip_list = [] %}
      {% for pick in picks %}
        {# If we have already seen this pick from another member of the parlay, don't print it #}
        {% if pick.id in skip_list %}
        {# Do nothing #}
        {% else %}
          {# If it's not a parlayed pick print it normally #}
          {% if pick.parlay_id == None %}
            <tr>
              <td>{{pick.sport}}</td>
              <td>{{pick.linetype}}</td>
              <td>{{pick.team}}</td>
              <td>{{pick.line}}</td>
            </tr>
          {# Else, print out the paylayed pick and add the other members to the skip_list #}
          {% else %}
          <tr>
            <td>
              {% for parpick in pick.parlayobj.picks %}
                <div>{{parpick.sport}}</div>
                {% do skip_list.append(parpick.id) %}
              {% endfor %}
            </td>
            <td>
              {% for parpick in pick.parlayobj.picks %}
                <div>{{parpick.linetype}}</div>
              {% endfor %}
            </td>
            <td>
              {% for parpick in pick.parlayobj.picks %}
                <div>{{parpick.team}}</div>
              {% endfor %}
            </td>
            <td>
              {% for parpick in pick.parlayobj.picks %}
                <div>{{parpick.line}}</div>
              {% endfor %}
            </td>
          </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
  </table>
</div>

{% endblock content2 %}
